svg{
    background:#fff;
  }
  svg text{
    font-size:10vw;
    font-weight:900;
    stroke-width:1px;
    fill:transparent;
    stroke:#000;
    letter-spacing:4px;
    animation:effect 6s infinite alternate;
  }
  @keyframes effect{
    0%{
      stroke-dasharray:0 70%;
    }
    100%{
      stroke-dasharray:10% 0%;
      stroke-dashoffset:20%;
      text-shadow:0px 0px 20px #000, 0px 0px 40px #000, 0px 0px 60px #000, 0px 0px 80px #000, 0px 0px 100px #000;
    }
  }